#figur {
  position: absolute;
  bottom: 100px;
  height: 100px;
}

@keyframes jump {
  0%,
  100% {
    bottom: 100px;
  }
  30% {
    bottom: 300px;
  }
}

.jumping {
  animation: jump 1s;
}

.ground {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100px;
  background-color: orange;
}

body {
  background-color: rgb(122, 195, 255);
}

#box-one {
  position: absolute;
  height: 70px;
  bottom: 380px;
  left: 300px;
  z-index: 2;
}

@keyframes bumpBox {
  0%,
  100% {
    bottom: 380px;
  }
  50% {
    bottom: 400px;
  }
}

.bumpBox {
  animation: bumpBox 0.3s;
  animation-delay: 0.2s;
}

@keyframes power {
  0%,
  5% {
    visibility: visible;
    bottom: 400px;
    left: 310px;
  }
  25% {
    bottom: 450px;
    left: 310px;
  }
  50% {
    bottom: 450px;
    left: 400px;
  }
  100% {
    bottom: 100px;
    left: 400px;
  }
}

.powerup {
  position: absolute;
  height: 50px;
  bottom: 100px;
  left: 400px;
  animation: power;
  animation-duration: 2s;
}

.hidden {
  visibility: hidden;
}
